@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/MyriadPro-Cond.woff") format("woof");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/latoblack.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/latoitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}