.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    position: relative;
}

.s-3 {
    height: 712px;
}

.s-3__background {
    height: 600px;
    background: #1b97c5;
}

.s-3__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
}

.s-3__wrapper_title {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
    font-family: "Lato Black", sans-serif;
    font-size: 48px;
    text-transform: capitalize;
}

.s-3__main_picture {
    display: block;
    position: absolute;
    top: -62%;
    left: 17%;
    background: url(../images/section-3/section-3_main_picture.jpg);
    width: 741px;
    height: 485px;
    z-index: 2;
}

// border: 8px solid white;
// background-color: #777777;

// 3 hover

// width: 247px;

// left
// color: #b2e9f1;

// center
// color: #bae0ed;

// right
// color: # 8591a0;