.container {
  max-width: 1140px;
  width: 100%;
  position: relative;
}

.s-2__wrapper_top {
  height: 501px;
  background: #00b5d2;
  background-size: cover;
  background-position: center;
}

.s-2__wrapper_top,
.s-2__wrapper_bottom,
.s-2__wrapper {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

.s-2__wrapper_title,
.s-2__wrapper_text {
  color: aliceblue;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.s-2__wrapper_title {
  font-family: "Lato Black", sans-serif;
  font-size: 48px;
  font-weight: 900;
  padding-top: 111px;
  padding-bottom: 53px;
}

.s-2__wrapper_text {
  font-size: 18px;
}

.s-2__wrapper_picture {
  display: block;
  margin: 0 auto;
  position: absolute;
  background-image: url(../images/section-2/follow_people_1.png);
  background-color: inherit;
  width: 948px;
  height: 234px;
  top: 56%;
  left: 10%;
  //   background-image: url(../images/section-2/Ages_1.png); //white
  //   background-image: url(../images/section-2/Ages_2.png); //gradient
  //   background-image: url(../images/section-2/Ages_3.png); //color
}

.s-2__wrapper_bottom {
  height: 361px;
}

.s-2__about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.s-2__about_title,
.s-2__about_text,
.s-2__button {
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.s-2__about_title {
  color: #777777;
  padding-top: 74px;
}

.s-2__about_text {
  color: #444444;
  width: 761px;
  padding: 46px 0;
  line-height: 30px;
  font-size: 18px;
}

.s-2__button {
  display: block;
  border: 1px solid #e1aa6e;
  width: 285px;
  height: 60px;
  background: #e1aa6e !important;
  color: #fafafa;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s linear;
}

.s-2__button:hover,
.s-2__button:focus {
  box-shadow: 0 10px 0 #ba8e5b !important;
  transform: translateY(-10px);
  outline: none;
}