.container {
  max-width: 1140px;
  width: 100%;
  position: relative;
}

.s-2__wrapper_top {
  height: 501px;
  background-color: #00b5d2;
}

.s-2__wrapper_bottom {
  height: 361px;
}

.s-2__about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.s-2__wrapper_title,
.s-2__wrapper_text {
  color: aliceblue;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.s-2__wrapper_title {
  padding-top: 111px;
  padding-bottom: 53px;
  font-size: 48px;
  font-weight: 900;
}

.s-2__wrapper_text {
  font-size: 18px;
}

.s-2__about_title,
.s-2__about_text,
.s-2__button {
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.s-2__about_title {
  padding-top: 74px;
}

.s-2__about_text {
  width: 761px;
  padding: 46px 0;
  line-height: 30px;
  font-size: 18px;
}

.s-2__button {
  display: block;
  border: 1px solid #e1aa6e;
  width: 285px;
  height: 60px;
  background: #e1aa6e !important;
  color: #fafafa;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s linear;
}

.s-2__button:hover,
.s-2__button:focus {
  box-shadow: 0 10px 0 #ba8e5b !important;
  transform: translateY(-10px);
  outline: none;
}